<div class="container">
<p><strong>Product</strong></p>
<p><%= @raffle.product_name %></p>
<br>
<p> <% if @raffle.winner%>
<b><%=@raffle.winner%> has won this raffle!</b>
<%end%></p> <br>
<p><img style='width:30%' src="<%= @raffle.product_image%>"></p>
<br>
<p><strong>Product Description</strong></p>
<p><%= @raffle.product_description %></p>
<br>
<p><strong>Spots Left</strong></p>
<p><%= @raffle.current_bids%> / <%= @raffle.number_of_ticket_slots %>

<p>Use Tickets:</p><br>
<%= form_for(@raffle) do |f| %>
  <%=f.label :ticket, "Gold" %>: <br>
  <%= image_tag "gold.jpg", class: "small_ticket" %><br>
  <%=f.number_field :gold%><br>
  <%=f.label :ticket, "Silver" %>:<br>
  <%= image_tag "silver.jpg", class: "small_ticket" %><br>
  <%=f.number_field :silver %><br>
  <%=f.label :ticket, "Bronze" %>:<br>
  <%= image_tag "bronze.jpg", class: "small_ticket" %><br>
  <%=f.number_field :bronze %> <br><br>
  <%= f.submit "Use Tickets" %>
<% end %><br>

<p>Your Entries:</p>

 <div>
        Gold:<%= image_tag "gold.jpg", class: "small_ticket" %> <%=current_user.user_gold%>
        Silver:<%= image_tag "silver.jpg", class: "small_ticket" %> <%=current_user.user_silver%>
        Bronze: <%= image_tag "bronze.jpg", class: "small_ticket" %><%=current_user.user_bronze%></div></div>