<br><br><br>
<div class="title">Current Raffles:</div>
<div class="container">
<%= form_tag(raffles_path, method: 'get') do %>
  <%= select_tag(:filter, options_for_select(Raffle.pluck(:category).uniq, params[:filter])) %>
  <%= submit_tag ("Filter"), class: 'button' %> 
<% end %>
<a href="/raffles"><button class="button">Clear</button></a>
</div></div>
    <% @raffles.each do |raffle| %>
    <div class="container">
        <p><strong>Product</strong></p>
        <p> <% if raffle.winner%>
        <b><%=raffle.winner%> has won this raffle!</b>
        <% end %>
        <p><%= raffle.product_name %></p>
        <br>
        <p><img src="<%= raffle.product_image%>"></p>
        <br>
        <p><strong>Product Description</strong></p>
        <p><%= raffle.product_description %></p>
        <br>
        <p><strong>Spots Left</strong></p>
        <p><%= raffle.current_bids %> / <%= raffle.number_of_ticket_slots %>
        <br>
        <%= link_to "Enter", edit_raffle_path(raffle), class: "nav-item2" %></p>
        </div>
    <% end %>

<br><br><br>
