<%#= form_tag(raffles_path, method: :get) do %>
<%#= text_field :search, params[:search]%>
<%#= submit_tag ("Search"), class: 'button' %>
<%# end %>

<%= form_tag(raffles_path, method: 'get') do %>
  <%= select_tag(:filter, options_for_select(Raffle.pluck(:category).uniq, params[:filter]), include_blank:"(all categories)") %>
  <%= submit_tag ("Filter"), class: 'button' %> <button class="button" href="/raffles">Clear</button>
<% end %></div>

<div class="title">Current Raffles:</div>


    <% @raffles.each do |raffle| %>
    <div class="container">
        <p><strong>Product</strong></p>
        <p> <% if raffle.winner%>
        <b><%=raffle.winner%> has won this raffle!</b>
        <% end %>
        <p><%= raffle.product_name %></p>
        <br>
        <p><img src="<%= raffle.product_image%>"></p>
        <br>
        <p><strong>Product Description</strong></p>
        <p><%= raffle.product_description %></p>
        <br>
        <p><strong>Spots Left</strong></p>
        <p><%= raffle.ticket_count %> / <%= raffle.number_of_ticket_slots %>
        <%= link_to "Enter Raffle", edit_raffle_path(raffle) %></p>
        </div>
    <% end %>

<br><br><br>
