<p><strong>Product</strong></p>
<p><%= @raffle.product_name %></p>
<br>
<p><img src="<%= @raffle.product_image%>"></p>
<br>
<p><strong>Product Description</strong></p>
<p><%= @raffle.product_description %></p>
<br>
<p><strong>Spots Left</strong></p>
<p><%= @raffle.tickets.count %> / <%= @raffle.number_of_ticket_slots %>
<%= link_to "Use Tickets", edit_raffle_path(@raffle) %></p>