
<div class="container">
<div class="title">Edit <%= resource_name.to_s.humanize %></div><br>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
<p>
   <%= f.label :username, "Username" %><br> <i>(this is how you will appear to other users)</i>
   <br>
   <%= f.text_field :username %>
 </p>
 
  <p>
   <%= f.label :shipping_name, "Shipping Name" %>
   <br>
   <%= f.text_field :shipping_name %>
 </p>
 <p>
   <%= f.label :shipping_address, "Shipping Address" %>
   <br>
   <%= f.text_field :shipping_address %>
 </p>
 <p>
   <%= f.label :city, "City" %>
   <br>
   <%= f.text_field :city %>
 </p>
   <p>
   <%= f.label :state, "State" %>
   <br>
   <%= f.text_field :state %>
 </p>
  <p>
   <%= f.label :zip, "ZIP" %>
   <br>
   <%= f.text_field :zip %>
 </p>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
<% if user_signed_in? && !current_user.provider == 'amazon' %>
  <div class="field">
    <%= f.label :password %><br> <i>(leave blank if you don't want to change it)</i><br>
    <%= f.password_field :password, autocomplete: "new-password" %><br>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %><br>
  </div>

  <br><br>
  <div class="field">
    <%= f.label :current_password %> <br><i>**we need your current password to confirm your changes**</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>
<% end %>
  <div class="actions"><br>
    <%= f.submit "Update" %>
  </div>
<% end %>


<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %></div></div>
