<p id="notice"><%= notice %></p>
<%= form_for(@user) do |f|%>
 <p>
   <%= f.label :username, "Username: (this is how you will appear to other users)" %>
   <br>
   <%= f.text_field :username %>
 </p>
 
  <p>
   <%= f.label :shipping_name, "Shipping Name:" %>
   <br>
   <%= f.text_field :shipping_name %>
 </p>
 <p>
   <%= f.label :shipping_address, "Shipping Address:" %>
   <br>
   <%= f.text_field :shipping_address %>
 </p>
 <p>
   <%= f.label :city, "City:" %>
   <br>
   <%= f.text_field :city %>
 </p>
   <p>
   <%= f.label :state, "State:" %>
   <br>
   <%= f.text_field :state %>
 </p>
  <p>
   <%= f.label :zip, "ZIP Code:" %>
   <br>
   <%= f.text_field :zip %>
 </p>
   <%= f.submit "Change Profile" %>
<% end %>

<%= form_for(@user) do |f|%>
<p>
   <%= f.label :password_digest, "New Password:" %>
   <br>
   <%= f.password_field :password_digest %>
</p>
<p>
   <%= f.label :password_digest_confirm, "Confirm New Password:" %>
   <br>
   <%= f.password_field :password_digest_confirm %>
</p>
 <%= f.submit "Change Password" %>
<% end %>

