<%= form_for @user do |f| %>
<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2>There were some errors: </h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

   <div>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>

     <%= f.label :password %> <br>
    <%= f.text_field :password %> <br>
  </div>


   <div>
    <br>
    <%= f.submit %>
  </div>
<% end %>