<%= form_for @user do |f| %>
<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2>There were some errors: </h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

   <div>
   <%= f.label :email, "Email:" %><br>
    <%= f.text_field :email %><br>
    
    <%= f.label :password_digest, "Password:" %> <br>
    <%= f.text_field :password_digest %> <br>

    <%= f.label :password_digest_confirm, "Password Confirm:" %> <br>
    <%= f.text_field :password_digest_confirm %> <br>
  </div>


   <div>
    <br>
    <%= f.submit "Confirm" %>
  </div>
<% end %>