<p>Get Tickets:</p>

<%= form_for(@ticket) do |f| %>
  <%=f.label :tier, "Gold" %>: <br>
  <%=f.number_field :gold%><br>
  <%=f.label :tier, "Silver" %>:<br>
  <%=f.number_field :silver %><br>
  <%=f.label :tier, "Bronze" %>:<br>
  <%=f.number_field :bronze %> <br><br>
  <%= f.submit "Get Tickets" %>
<% end %>
